/* RESET GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-voltar {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #71050c;
  color: #fff;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  transition: 0.3s;
  z-index: 999;
}

.btn-voltar:hover {
  background: #b3040f;
  transform: scale(1.05);
}


body {
  background: #fafafa;
  text-align: center;
}

/* Container */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 30px 20px;
}

/* Logos */
.logos {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.logo-senai {
  max-width: 220px;
  height: auto;
}

/* Títulos */
.titles h2 {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 700;
  color: #444;
}

.titles h1 {
  font-size: 28px;
  margin-top: 5px;
  font-weight: 900;
  color: #222;
}

/* Imagem do grupo */
.imggrupo2 {
  margin: 25px 0 10px;
}

.imggrupo2 img {
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* GitHub */
.github {
  margin-top: 35px;
  font-size: 18px;
}

.github b {
  font-size: 20px;
  color: #c00000;
}

.github a {
  text-decoration: none;
  font-weight: bold;
}

.github p {
  margin-top: 10px;
  background: #e30613;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 17px;
  display: inline-block;
  transition: 0.25s;
}

.github p:hover {
  background: #b3040f;
  transform: scale(1.03);
}

/* Rodapé */
footer {
  margin-top: 40px;
  background: #ff6b00;
  color: white;
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 900px) {
  .logo-senai {
    max-width: 180px;
  }

  .titles h1 {
    font-size: 24px;
  }
}

@media (max-width: 520px) {
  .titles h2 {
    font-size: 18px;
  }

  .titles h1 {
    font-size: 20px;
  }

  .github p {
    font-size: 15px;
  }

  footer {
    font-size: 12px;
  }
}
