@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 1rem;
}

:root {
  --fontFamily: "Kanit", sans-serif;
  --fontweigth: 400;
  --fontColorHeader: #d9114d;
  --fontColor: #f5f5f5;
  --corGrass: #94e798;
  --corIce: #c9e6f4;
  --corFigthing: #ff5c5f;
  --corPoison: #9a51c5;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fontFamily);
  font-weight: var(--fontweigth);
  color: var(--fontColorHeader);
  font-size: 20px;
}

.back {
  position: absolute;
  left: 10px;
  top: -15px;
}

.alignText {
  text-align: center;
}

.buttons,
a {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 2rem;
  text-decoration: none;
  color: var(--fontColor);
}

.grass {
  background-color: var(--corGrass);
  width: 500px;
  border-radius: 40px;
  font-family: var(--fontFamily);
  font-weight: var(--fontweigth);
  font-size: 28px;
  color: var(--fontColor);
  display: flex;
  justify-content: space-between;
  padding: 2px 10px 5px 15px;
  transition: 0.5s;
}
.ice {
  background-color: var(--corIce);
  width: 500px;
  border-radius: 40px;
  font-family: var(--fontFamily);
  font-weight: var(--fontweigth);
  font-size: 28px;
  color: var(--fontColor);
  display: flex;
  justify-content: space-between;
  padding: 2px 10px 5px 15px;
  transition: 0.5s;
}
.figthing {
  background-color: var(--corFigthing);
  width: 500px;
  border-radius: 40px;
  font-family: var(--fontFamily);
  font-weight: var(--fontweigth);
  font-size: 28px;
  color: var(--fontColor);
  display: flex;
  justify-content: space-between;
  padding: 2px 10px 5px 15px;
  transition: 0.5s;
}
.poison {
  background-color: var(--corPoison);
  width: 500px;
  border-radius: 40px;
  font-family: var(--fontFamily);
  font-weight: var(--fontweigth);
  font-size: 28px;
  color: var(--fontColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px 5px 15px;
  transition: 0.5s;
}

.imgbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -25px;
}

container {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.conteinerNurse {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
  margin-top: 118px;
  margin-right: 5rem;
}

.nurse {
  position: absolute;
  pointer-events: none;
  margin-bottom: -28px;
}

.grassimg {
  opacity: 0.2;
}
.iceimg {
  opacity: 0.2;
}
.venenoimg {
  opacity: 0.2;
}

.grass:hover {
  transform: translateY(-5px);
  border: #15ed1f 3px solid;
}
.ice:hover {
  transform: translateY(-5px);
  border: #63c2f2 3px solid;
}
.figthing:hover {
  transform: translateY(-5px);
  border: #ea1b1e 3px solid;
}
.poison:hover {
  transform: translateY(-5px);
  border: #6d07a8 3px solid;
}

@media (max-width: 768px) {
  .buttons,
  a {
    display: flex;
    justify-content: space-between;

  }
  .conteinerNurse {
    display: none;
  }
  header {
    width: auto;
    max-width: 680px;
  }
  container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 769px) and (max-width: 1024) {
  header {
    width: auto;
    max-width: 680px;
  }
  .buttons,
  a {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  .conteinerNurse {
    display: none;
  }
  container {
    display: flex;
    justify-content: center;
  }
}
