@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin-left: 1rem;
}

:root {
  --fontFamily: "Kanit", sans-serif;
  --fontweigth: 400;
  --fontColorHeader: #d9114d;
  --fontColor: #f5f5f5;
  --corGrass: #94e798;
  --corIce: #c9e6f4;
  --corFigthing: #ff5c5f;
  --corPoison: #9a51c5;
}

header {
  display: flex;
  justify-content: center;
  font-family: var(--fontFamily);
  font-weight: var(--fontweigth);
  color: var(--fontColorHeader);
}

.button,
a {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 2rem;
  text-decoration: none;
  color: var(--fontColor);
}

.grass {
  background-color: var(--corGrass);
  width: 400px;
  border-radius: 10px;
  font-family: var(--fontFamily);
  font-weight: var(--fontweigth);
  font-size: 28px;
  color: var(--fontColor);
}
.ice {
  background-color: var(--corIce);
  width: 400px;
  border-radius: 10px;
  font-family: var(--fontFamily);
  font-weight: var(--fontweigth);
  font-size: 28px;
  color: var(--fontColor);
}
.figthing {
  background-color: var(--corFigthing);
  width: 400px;
  border-radius: 10px;
  font-family: var(--fontFamily);
  font-weight: var(--fontweigth);
  font-size: 28px;
  color: var(--fontColor);
}
.poison {
  background-color: var(--corPoison);
  width: 400px;
  border-radius: 10px;
  font-family: var(--fontFamily);
  font-weight: var(--fontweigth);
  font-size: 28px;
  color: var(--fontColor);
}
