@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --corGradiente1: #B354C1;
  --corGradiente2: #e2a4f2;
  --corGradiente3: #eed1ff;
  --backgroundID: #8F67D4;
  --backgroundName: #8F67D4;
  --colorFonte: #fff3e8;
  --fontFamily: "Kanit", sans-serif;
  --fontweigth: 300;
  --fontstyle: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom,
    var(--corGradiente1),
    var(--corGradiente3)
  );
  margin-bottom: 5rem;
  font-family: var(--fontFamily);
  font-weight: var(--fontweigth);
}

header {
  display: flex;
  align-items: center;
  font-family: monospace;
  gap: 16px;
  padding: 1rem;
}

.veneno {
  background-color: #8F67D4;
  border-radius: 18px;
  width: 180px;
  display: flex;
  gap: 18px;
  padding: 12px;
  justify-content: center;
  color: #fff3e8;
  font-size: 15px;
}
.cards {
  /* Mantido Flexbox */
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
  gap: 25px;
  position: relative;
}

#back {
  transition: 0.5s;
}

#back:hover {
  transform: translateY(-5px);
}

#venenoimg{
  opacity: 0.2;
}


.pokemon-card {
  transition: 0.5s;
  color: #ffffff;
  background: linear-gradient(to bottom, #8F67D4, #eadeed);
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 550px;
  padding: 1rem;
  border-radius: 50px;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  box-shadow: -3px 4px 1px 0px rgba(0, 0, 0, 0.1);
}

#imgven {
  opacity: 0.2;
  width: 1485px;
}

.imgFundo {
  background-position: center;
  position: absolute;
  z-index: -1;
  padding: 1rem;
}
.poke-img {
  width: 200px;
}
.alignImg {
  display: flex;
  justify-content: center;
}
.poke-id {
  background-color: var(--backgroundID);
  border-radius: 18px;
  width: 50px;
  padding: 5px;
}

.poke-name {
  background-color: var(--backgroundName);
  padding: 5px;
  width: 170px;
  text-align: center;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 400;
}

.alignPokeName {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--colorFonte);
}

.alignPokeId {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
  }

  .pokemon-card {
    flex: 1 1 calc(50% - 40px);
    width: 100%;
    height: auto;
    padding: 0.8rem;
    border-radius: 25px;
   
  }

  .poke-img {
    width: 110px;
    margin-top: 5px;
  }

  .poke-name {
    width: 100%;
    font-size: 0.9rem;
  }

  .info-row h4,
  .info-row p,
  .abilities,
  .stat-line,
  .poke-id {
    font-size: 0.6rem;
  }
  .poke-id {
    width: 40px;
    padding: 3px 8px;
  }
    #imgven{

        display: none;
    }
}
@media ((min-width: 769px) and (max-width: 1024px) ) {
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
  }

  .pokemon-card {
    flex: 1 1 calc(50% - 40px);
    width: 100%;
    height: auto;
    padding: 0.8rem;
    border-radius: 25px;
   
  }

  .poke-img {
    width: 110px;
    margin-top: 5px;
  }

  .poke-name {
    width: 100%;
    font-size: 0.9rem;
  }

  .info-row h4,
  .info-row p,
  .abilities,
  .stat-line,
  .poke-id {
    font-size: 0.6rem;
  }
  .poke-id {
    width: 40px;
    padding: 3px 8px;
  }

      #imgven{

        display: none;
    }


}