* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

/* Logos */
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-senai {
    margin: -19px;
    margin-left: 250px;
    height: 120px;
}



/* Títulos */
.titles h2 {
  font-size: 22px;
  font-weight: bold;
    margin-top: 45px;
}

.titles h1 {
  font-size: 26px;
  margin-top: 5px;
}

/* Imagem grupo */
.imggrupo2 {
  margin: 30px 0;
}

.imggrupo2 img {
    max-width: 100%;
    height: auto;
    width: 800px;
    margin-top: 10px;
    }

/* Link GitHub */
.github {
    margin-top: -55px;
    font-size: 16px;
}

.github a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
margin-top: -55px;
}
.github b {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
margin-top: -55px;


}

/* Rodapé */
footer {
    margin-top: -18px;
    background: #ff6b00;
    color: white;
    padding: 15px;
    font-size: 14px;
}
